{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <h1>Trade History</h1>
    {% if not trades %}
        <h3>No trades yet!</h3>
    {% else %}
    <table class="table table-striped">
        
        
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Cost</th>
                <th>Timestamp</th>
            </tr>
        </thead>

        <tbody>
            {% for trade in trades %}
            <tr>
                <td>{{ trade.symbol }}</td>
                <td>{{ trade.companyName }}</td>
                <td>{{ trade.price }}</td>
                <td>{{ trade.shares }}</td>
                <td>{{ trade.cost }}</td>
                <td>{{ trade.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    <table>
    {% endif %}


{% endblock %}