{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<h1>{{ user }}'s Portfolio</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Current Price</th>
                <th>Shares</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.companyName }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.totalshares }}</td>
                <td>{{ stock.value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>TOTAL</td>
                <td>{{ balance }}</td>
            </tr>
        </tbody>
    <table>
        

{% endblock %}