{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<h1>{{ user}}'s Portfolio:</h1>
<h3>Cash balance: {{ cash }}</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Current Price</th>
                <th>Shares</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["companyName"] }}</td>
                <td>{{ stock["price"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ stock["cost"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    <table>
        

{% endblock %}